/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0; padding: 0;
    height: 100vh;
    background: url('assets/dragon-scales.svg');
    background-color: #FF3E32;
    background-attachment: fixed;
    background-size: contain;
}

*, *::before, *::after {
    box-sizing: border-box;
}