/* You can add global styles to this file, and also import other style files */

html, body {
    --ng-plyr-video-bg: #FF3E32 url('assets/dragon-scales.svg') fixed;
    --ng-plyr-font-color: #cdf3c6;
    margin: 0; padding: 0;
    height: 100vh;
    background: #FF3E32 url('assets/dragon-scales.svg') fixed;
}

*, *::before, *::after {
    box-sizing: border-box;
}